.imagen-logo{
    width: 100%;
    height: auto;
}

.imagen{
    width: 50%;
    height: auto;
}

.servicios{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-35 {
  width: 100%;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  color: black;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  background-color: pink;
}
